<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Pinteresting", root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Back to Main", root_path %>
        <% unless session[:user_id].nil? %>
        <%= link_to "Sign out", sign_out_path, class: "button", method: "delete" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

  <div class="container" >
    <div id="signin-box"  >
      <%= form_tag sign_in_path, method: "POST" do %>
        <div class="input pass">
          <%= label_tag "Email: "%><br />
          <%= text_field_tag :email %>
        </div>
        <div style="margin-top:10px;" class="input pass">
          <%= label_tag "Password: " %><br />
          <%= password_field_tag :password %>
        </div>
        <div style="margin-top:30px;"><%= submit_tag "Sign In", class: "inputButton"%></div>
        <% end %>
      </div>
    </div>
