<%= form_for @pin do |f| %>
  <p>
    <%= image_tag (@pin.photo.url) if @pin.photo? %>
    <%= f.label "Photo" %><br>
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.label "Title :" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Description :" %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Enter" %>
  </p>
<% end %>
