<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Pinteresting", root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Back', root_path %>
      </li>
    </ul>
  </div>
</nav>

<h1>Create New Pins</h1>

<%= form_for @pin, url: pins_path do |f| %>
  <p>
    <%= image_tag (@pin.photo.url) if @pin.photo? %>
    <%= f.label "Photo" %><br>
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.label "Title :" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Description :" %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Enter" %>
  </p>
<% end %>
