<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Pinteresting", root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Back to Main", root_path %>
      </li>
    </ul>
  </div>
</nav>

<div id="signup-box">
  <%= form_for @user, id: "signup", url: users_path do |f| %>
      <%= image_tag (@user.profpic.url) if @user.profpic? %>
      <%= f.file_field :profpic%>

      <%= f.text_field :username, placeholder: "Username", type: "username", class: "input pass", style: "border-bottom: 2px solid #ebebeb;" %>
      <%= f.email_field :email, placeholder: "Email", type: "email", class: "input pass", style: "border-bottom: 2px solid #ebebeb;" %>
      <%= f.password_field :password, placeholder: "Password", type: "password", class: "input pass", style: "border-bottom: 2px solid #ebebeb;" %>

    <%= f.submit "Enter", class: "inputButton" %>
  <% end %>
</div>
